AlsavoCtrlNodeRedFlow.txt
[{"id":"fa2236513419eed9","type":"tab","label":"Alsavo-Pool-Local","disabled":false,"info":"","env":[]},{"id":"d32a85d6ac68f7bc","type":"exec","z":"fa2236513419eed9","command":"/share/AlsavoCtrl/AlsavoCtrl -s <SerialNumber> -l <Password> -a <HeatpumpLocalIP> -p 1194 ","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"State update shell command","x":620,"y":80,"wires":[["3984417a3e084b32"],[],["ba14b8552d9cf7fa"]]},{"id":"b739ec6e1e9a0bc4","type":"inject","z":"fa2236513419eed9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":80,"wires":[["d32a85d6ac68f7bc"]]},{"id":"9470d9d68a659cb9","type":"mqtt out","z":"fa2236513419eed9","name":"MQTT publish","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f67759cd.ad1498","x":1040,"y":300,"wires":[]},{"id":"986a7185ecd56cf3","type":"split","z":"fa2236513419eed9","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"key","x":630,"y":300,"wires":[["e8373184407debcb"]]},{"id":"e8373184407debcb","type":"change","z":"fa2236513419eed9","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"\"sh/outdoor/climate/sh_pool_heatpump/\" & key","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":300,"wires":[["9470d9d68a659cb9"]]},{"id":"24655a1fd15b4c7e","type":"json","z":"fa2236513419eed9","name":"","property":"payload","action":"obj","pretty":false,"x":850,"y":200,"wires":[["986a7185ecd56cf3"]]},{"id":"31c8134473b58868","type":"change","z":"fa2236513419eed9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/16=\"type\":\"status\", \"index\":16, \"value\"","fromt":"str","to":"\"Status/WaterInTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/17=\"type\":\"status\", \"index\":17, \"value\"","fromt":"str","to":"\"Status/WaterOutTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/18=\"type\":\"status\", \"index\":18, \"value\"","fromt":"str","to":"\"Status/AmbientTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/19=\"type\":\"status\", \"index\":19, \"value\"","fromt":"str","to":"\"Status/ColdPipeTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/20=\"type\":\"status\", \"index\":20, \"value\"","fromt":"str","to":"\"Status/HeatingPipeTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/21=\"type\":\"status\", \"index\":21, \"value\"","fromt":"str","to":"\"Status/IPMTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/22=\"type\":\"status\", \"index\":22, \"value\"","fromt":"str","to":"\"Status/FanSpeed\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/23=\"type\":\"status\", \"index\":23, \"value\"","fromt":"str","to":"\"Status/ExhaustTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/24=\"type\":\"status\", \"index\":24, \"value\"","fromt":"str","to":"\"Status/CompressorInputTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/25=\"type\":\"status\", \"index\":25, \"value\"","fromt":"str","to":"\"Status/ElectronicExhaustValveOpening\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/26=\"type\":\"status\", \"index\":26, \"value\"","fromt":"str","to":"\"Status/CompressorCurrent\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/27=\"type\":\"status\", \"index\":27, \"value\"","fromt":"str","to":"\"Status/CompressorFrequency\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/33=\"type\":\"status\", \"index\":33, \"value\"","fromt":"str","to":"\"Status/CompressorSpeedSetting\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/34=\"type\":\"status\", \"index\":34, \"value\"","fromt":"str","to":"\"Status/FrequencyLimitCode\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/48=\"type\":\"status\", \"index\":48, \"value\"","fromt":"str","to":"\"Status/AlarmCode1\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/49=\"type\":\"status\", \"index\":49, \"value\"","fromt":"str","to":"\"Status/AlarmCode2\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/50=\"type\":\"status\", \"index\":50, \"value\"","fromt":"str","to":"\"Status/AlarmCode3\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/51=\"type\":\"status\", \"index\":51, \"value\"","fromt":"str","to":"\"Status/AlarmCode4\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/52=\"type\":\"status\", \"index\":52, \"value\"","fromt":"str","to":"\"Status/SystemStatusCode\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/53=\"type\":\"status\", \"index\":53, \"value\"","fromt":"str","to":"\"Status/SystemRunningCode\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/54=\"type\":\"status\", \"index\":54, \"value\"","fromt":"str","to":"\"Status/DeviceStatusCode\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/55=\"type\":\"status\", \"index\":55, \"value\"","fromt":"str","to":"\"Status/HeatingMaxTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/56=\"type\":\"status\", \"index\":56, \"value\"","fromt":"str","to":"\"Status/CoolingMinTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/64=\"type\":\"status\", \"index\":64, \"value\"","fromt":"str","to":"\"Status/DeviceType\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/65=\"type\":\"status\", \"index\":65, \"value\"","fromt":"str","to":"\"Status/MainBoardHWREv\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/66=\"type\":\"status\", \"index\":66, \"value\"","fromt":"str","to":"\"Status/MainBoardSWREv\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/67=\"type\":\"status\", \"index\":67, \"value\"","fromt":"str","to":"\"Status/ManualHWCode\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/status/68=\"type\":\"status\", \"index\":68, \"value\"","fromt":"str","to":"\"Status/ManualHWCode\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/1=\"type\":\"config\", \"index\":1, \"value\"","fromt":"str","to":"\"Config/HeatingModeTargetTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/2=\"type\":\"config\", \"index\":2, \"value\"","fromt":"str","to":"\"Config/CoolingModeTargetTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/3=\"type\":\"config\", \"index\":3, \"value\"","fromt":"str","to":"\"Config/AutoModeTargetTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/4=\"type\":\"config\", \"index\":4, \"value\"","fromt":"str","to":"\"Config/SystemConfigBitmask1\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/5=\"type\":\"config\", \"index\":5, \"value\"","fromt":"str","to":"\"Config/SystemConfigBitmask2\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/11=\"type\":\"config\", \"index\":11, \"value\"","fromt":"str","to":"\"Config/WaterTempCalibration\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/6=\"type\":\"config\", \"index\":6, \"value\"","fromt":"str","to":"\"Config/ManualFrequencySetting\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/7=\"type\":\"config\", \"index\":7, \"value\"","fromt":"str","to":"\"Config/ManualEEVSetting\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/8=\"type\":\"config\", \"index\":8, \"value\"","fromt":"str","to":"\"Config/ManualFanSetting\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/9=\"type\":\"config\", \"index\":9, \"value\"","fromt":"str","to":"\"Config/DefrostInTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/10=\"type\":\"config\", \"index\":10, \"value\"","fromt":"str","to":"\"Config/DefrostOutTemp\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/11=\"type\":\"config\", \"index\":11, \"value\"","fromt":"str","to":"\"Config/WaterTempCal\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/12=\"type\":\"config\", \"index\":12, \"value\"","fromt":"str","to":"\"Config/DefrostInTime\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/13=\"type\":\"config\", \"index\":13, \"value\"","fromt":"str","to":"\"Config/DefrostOutTime\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/14=\"type\":\"config\", \"index\":14, \"value\"","fromt":"str","to":"\"Config/HotOver\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/15=\"type\":\"config\", \"index\":15, \"value\"","fromt":"str","to":"\"Config/ColdOver\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/16=\"type\":\"config\", \"index\":16, \"value\"","fromt":"str","to":"\"Config/PowerMode\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/17=\"type\":\"config\", \"index\":17, \"value\"","fromt":"str","to":"\"Config/Unknown\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/32=\"type\":\"config\", \"index\":32, \"value\"","fromt":"str","to":"\"Config/CurrentTime\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/33=\"type\":\"config\", \"index\":33, \"value\"","fromt":"str","to":"\"Config/TimerOnTime\"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"/home/alsavo/config/34=\"type\":\"config\", \"index\":34, \"value\"","fromt":"str","to":"\"Config/TimerOffTime\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":200,"wires":[["87ee06ded116a128"]]},{"id":"3984417a3e084b32","type":"change","z":"fa2236513419eed9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"}","fromt":"str","to":"","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"{","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":200,"wires":[["31c8134473b58868"]]},{"id":"d0420425a77b45a0","type":"mqtt in","z":"fa2236513419eed9","name":"","topic":"sh/outdoor/climate/sh_pool_heatpump/cmnd/tempset","qos":"0","datatype":"auto","broker":"f67759cd.ad1498","nl":false,"rap":true,"rh":0,"inputs":0,"x":270,"y":420,"wires":[["c061940a06162d97","8669e4d6adbc9b0e","7c5e27f28772ce1c","a816052ee28f42eb"]]},{"id":"a5a809bf17bfbfd9","type":"exec","z":"fa2236513419eed9","command":"/share/AlsavoCtrl/AlsavoCtrl -s <SerialNumber> -l <Password> -a <HeatpumpLocalIP> -p 1194 1 ","addpay":"payload","append":"","useSpawn":"false","timer":"2","winHide":false,"oldrc":false,"name":"Temperature Set in Heating Mode","x":920,"y":420,"wires":[[],[],[]]},{"id":"c061940a06162d97","type":"function","z":"fa2236513419eed9","name":"","func":"\nmsg.payload = msg.payload * 10 ; return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":420,"wires":[["a5a809bf17bfbfd9"]]},{"id":"9fe065cf30648a16","type":"exec","z":"fa2236513419eed9","command":"/share/AlsavoCtrl/AlsavoCtrl -s <SerialNumber> -l <Password> -a <HeatpumpLocalIP>-p 1194 2","addpay":"payload","append":"","useSpawn":"false","timer":"2","winHide":false,"oldrc":false,"name":"Temperature Set in Cooling Mode","x":920,"y":480,"wires":[[],[],[]]},{"id":"408a974bf86a112d","type":"exec","z":"fa2236513419eed9","command":"/share/AlsavoCtrl/AlsavoCtrl -s <SerialNumber> -l <Password> -a <HeatpumpLocalIP> -p 1194 3 ","addpay":"payload","append":"","useSpawn":"false","timer":"2","winHide":false,"oldrc":false,"name":"Temperature Set in Auto Mode","x":910,"y":540,"wires":[[],[],[]]},{"id":"7c5e27f28772ce1c","type":"function","z":"fa2236513419eed9","name":"","func":"\nmsg.payload = msg.payload * 10 ; return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":540,"wires":[["3bb9448590a308fe"]]},{"id":"8669e4d6adbc9b0e","type":"function","z":"fa2236513419eed9","name":"","func":"\nmsg.payload = msg.payload * 10 ; return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":480,"wires":[["194b1fa9f1731a8a"]]},{"id":"194b1fa9f1731a8a","type":"delay","z":"fa2236513419eed9","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":700,"y":480,"wires":[["9fe065cf30648a16"]]},{"id":"3bb9448590a308fe","type":"delay","z":"fa2236513419eed9","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":700,"y":540,"wires":[["408a974bf86a112d"]]},{"id":"c9895c120b7ee13c","type":"mqtt in","z":"fa2236513419eed9","name":"","topic":"sh/outdoor/climate/sh_pool_heatpump/cmnd/modeset","qos":"0","datatype":"auto","broker":"f67759cd.ad1498","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":700,"wires":[["2fc375ed8b76d15b","a816052ee28f42eb"]]},{"id":"4c2dbb20f26433f1","type":"mqtt in","z":"fa2236513419eed9","name":"","topic":"sh/outdoor/climate/sh_pool_heatpump/cmnd/powerset","qos":"0","datatype":"auto","broker":"f67759cd.ad1498","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":640,"wires":[["a44a3ec05b423918","a816052ee28f42eb"]]},{"id":"a44a3ec05b423918","type":"exec","z":"fa2236513419eed9","command":"/share/AlsavoCtrl/AlsavoCtrl -s <SerialNumber> -l <Password> -a <HeatpumpLocalIP> -p 1194 4 ","addpay":"payload","append":"","useSpawn":"false","timer":"2","winHide":false,"oldrc":false,"name":"Power State Set","x":860,"y":640,"wires":[[],[],[]]},{"id":"64e6769a7bd3c4a6","type":"exec","z":"fa2236513419eed9","command":"/share/AlsavoCtrl/AlsavoCtrl -s <SerialNumber> -l <Password> -a <HeatpumpLocalIP> -p 1194 4 ","addpay":"payload","append":"","useSpawn":"false","timer":"2","winHide":false,"oldrc":false,"name":"Mode State Set","x":860,"y":700,"wires":[[],[],[]]},{"id":"2fc375ed8b76d15b","type":"change","z":"fa2236513419eed9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"auto","fromt":"str","to":"50","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"cool","fromt":"str","to":"48","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"heat","fromt":"str","to":"49","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":700,"wires":[["64e6769a7bd3c4a6"]]},{"id":"a816052ee28f42eb","type":"function","z":"fa2236513419eed9","name":"","func":"\nmsg.payload = \"\" ; return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":540,"wires":[["fbcd58361c2a9f20"]]},{"id":"fbcd58361c2a9f20","type":"delay","z":"fa2236513419eed9","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":160,"y":280,"wires":[["d32a85d6ac68f7bc"]]},{"id":"7549b85bca32b2a2","type":"exec","z":"fa2236513419eed9","command":"/share/AlsavoCtrl/AlsavoCtrl -s <SerialNumber> -l <Password> -a <HeatpumpLocalIP> -p 1194 16 ","addpay":"payload","append":"","useSpawn":"false","timer":"2","winHide":false,"oldrc":false,"name":"Power Mode Set","x":870,"y":760,"wires":[[],[],[]]},{"id":"ecd8802b91e0d83a","type":"change","z":"fa2236513419eed9","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Silent","fromt":"str","to":"0","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Smart","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Powerful","fromt":"str","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":760,"wires":[["7549b85bca32b2a2"]]},{"id":"bdfe66f6731cead6","type":"mqtt in","z":"fa2236513419eed9","name":"","topic":"sh/outdoor/climate/sh_pool_heatpump/cmnd/powermodeset","qos":"0","datatype":"auto","broker":"f67759cd.ad1498","nl":false,"rap":true,"rh":0,"inputs":0,"x":300,"y":760,"wires":[["ecd8802b91e0d83a","a816052ee28f42eb"]]},{"id":"87ee06ded116a128","type":"function","z":"fa2236513419eed9","name":"","func":"\nmsg.payload = msg.payload.replace(/\\n/g,\",\");\nmsg.payload = msg.payload.slice(0, msg.payload.length-1);\nmsg.payload = \"{\" + msg.payload + \"}\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["24655a1fd15b4c7e"]]},{"id":"91e5f3b08e47746f","type":"mqtt out","z":"fa2236513419eed9","name":"MQTT publish","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f67759cd.ad1498","x":920,"y":160,"wires":[]},{"id":"96f6c06ec79b0b6d","type":"change","z":"fa2236513419eed9","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"\"sh/outdoor/climate/sh_pool_heatpump/ReturnCode/\" & key","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":160,"wires":[["91e5f3b08e47746f"]]},{"id":"ba14b8552d9cf7fa","type":"json","z":"fa2236513419eed9","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":160,"wires":[["3882b8f264945732"]]},{"id":"3882b8f264945732","type":"split","z":"fa2236513419eed9","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"key","x":530,"y":160,"wires":[["96f6c06ec79b0b6d"]]},{"id":"f67759cd.ad1498","type":"mqtt-broker","name":"MQTTBROKER","broker":"<MQTTServerIP>","port":"<MQTTServerPort>","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"Online","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"Offline","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"Disconnected","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]